h2 {
  color: green;
  margin-bottom: 1px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
a {
  background: green;
  box-shadow: none;
  border: none;
  color: white;
}

a:hover {
  background: rgb(60, 163, 60);
  color: white;
}

a:focus {
  background: green;
  box-shadow: none;
  color: white;
}

a:active {
  background: green;
  box-shadow: none;
  color: white;
}

.card {
  border: none;
  box-shadow: 2px 2px 2px 2px rgb(235, 183, 116);
}
