<div class="content">
  <div class="inner-content">
    <div class="row">
      <div class="col-6 side-crop">
        <img
          src="https://imagenmore.ae/images/food-photography-coffee-.jpg"
          width="100%"
          height="100%"
          style="filter: contrast(120%)"
        />
      </div>
      <div class="col-6" style="background-color: white">
        <div
          style="
            margin-left: 45px;
            margin-right: 45px;
            margin-top: 25px;
            margin-bottom: 36px;
          "
        >
          <div class="card-header text-center">
            <img
              src="https://cdn4.iconfinder.com/data/icons/fruits-79/48/08-orange-256.png"
              height="25px"
              width="25px"
              style="margin-right: 5px; filter: saturate(140%)"
            />NUTRIPLAN
          </div>

          <form [formGroup]="userProfile" (ngSubmit)="onRegister()">
            <div style="height: 23px" class="row mt-3">
              <label class="col-5">Username</label>
              <input
                type="text"
                class="form-control col-7"
                formControlName="username"
                (change)="validateUsername()"
                (input)="hideError()"
              />
            </div>

            <div class="invalid">
              <ng-container
                *ngIf="
                  (control.username.invalid &&
                    (control.username.touched ||
                      control.username.dirty)) ||
                    usernameNotEligible;
                  else elseblk
                "
              >
                <span *ngIf="control.username.errors?.required"
                  >*Username required!</span
                >
                <span *ngIf="control.username.errors?.minlength">
                  *Username must be atleast 8 characters long! </span
                ><span *ngIf="usernameNotEligible">
                  *username {{ userProfile.value.username }} is not available!!
                </span>
              </ng-container>
              <ng-template #elseblk>
                <span>&nbsp;</span>
              </ng-template>
            </div>

            <div style="height: 23px" class="row">
              <label class="col-5">Email</label>
              <input
                type="email"
                class="form-control col-7"
                formControlName="email"
                (change)="validateEmail()"
              />
            </div>

            <div class="invalid">
              <ng-container
                *ngIf="
                  (control.email.invalid &&
                    (control.email.touched || control.email.dirty)) ||
                    emailNotEligible;
                  else elseblk
                "
              >
                <span *ngIf="control.email.errors?.required"
                  >*email required!</span
                >
                <span *ngIf="control.email.errors?.email">
                  *Please provide a valid email ID </span
                ><span *ngIf="emailNotEligible"> *email already exists!! </span>
              </ng-container>
              <ng-template #elseblk>
                <span>&nbsp;</span>
              </ng-template>
            </div>

            <div style="height: 23px" class="row">
              <label class="col-5">Password</label>
              <input
                type="password"
                class="form-control col-7"
                formControlName="password"
              />
            </div>

            <div class="invalid">
              <ng-container
                *ngIf="
                  control.password.invalid &&
                    (control.password.touched || control.password.dirty);
                  else elseblk
                "
              >
                <span *ngIf="control.password.errors?.required"
                  >*password required!</span
                >
                <span *ngIf="control.password.errors?.minlength">
                  *password must be atleast 8 characters long!
                </span>
              </ng-container>
              <ng-template #elseblk>
                <span>&nbsp;</span>
              </ng-template>
            </div>

            <div style="height: 23px" class="row">
              <label for="confirmPassword" class="col-5"
                >Confirm Password</label
              >
              <input
                type="password"
                class="form-control col-7"
                formControlName="confirmPassword"
              />
            </div>

            <div class="invalid">
              <ng-container
                *ngIf="
                  control.confirmPassword.invalid &&
                    (control.confirmPassword.touched ||
                      control.confirmPassword.dirty);
                  else elseblk
                "
              >
                <span *ngIf="control.confirmPassword.errors?.required"
                  >*Confirm password required!</span
                >
                <span
                  *ngIf="control.confirmPassword.errors?.passwordMisMatch"
                >
                  *Password doesn't match!
                </span>
              </ng-container>
              <ng-template #elseblk>
                <span>&nbsp;</span>
              </ng-template>
            </div>

            <div class="row mt-4">
              <button
                type="submit"
                class="btn save-button"
                [disabled]="
                  !userProfile.valid || usernameNotEligible || emailNotEligible
                "
              >
                Register
              </button>
            </div>
            <div style="text-align: center">
              <p>
                Already have an account? <a routerLink="/auth/login">Login</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
