.form-control:focus {
  box-shadow: none;
  border-color: rgb(26, 136, 26);
}
.form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0%;
  height: 30px;
  width: max-content;
}
.passwordField {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0%;
  padding: 0.375rem 0.75rem;
  height: 30px;
  width: 172px;
  border-bottom: 1px solid lightgray;
}
.passwordField:focus-visible {
  outline: white;
  border-color: rgb(26, 136, 26);
}
.iconbtn {
  border: none;
  padding: 0px;
  background-color: white;
}
.eyeIcon {
  color: gray;
  margin-top: 2px;
  height: 25px;
  padding-right: 5px;
  width: 22px;
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
}
.reqField {
  margin-left: 3px;
  color: red;
}
.form-control.ng-invalid.ng-touched {
  border-color: red;
}
.passwordField.ng-invalid.ng-touched {
  border-color: red;
}
.side-crop {
  overflow: hidden;
  position: relative;
}
.side-crop img {
  margin: 0px -2.885%;
  width: 103.777%;
}
.row {
  --bs-gutter-x: 0;
  background-color: white;
}
.check-input {
  margin-right: 10px;
  margin-left: 10px;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}
input:read-only {
  background-color: white;
}
.card-header {
  background-color: white;
  color: green;
  font-weight: bold;
  font-family: sans-serif;
  height: 50px;
  padding-top: 15px;
  width: 92%;
  padding-left: 5px;
  margin-left: 13px;
  filter: saturate(120%);
  border-bottom: 1px solid green;
}
.save-button {
  background: rgb(10, 138, 10);
  box-shadow: none;
  border: none;
  color: white;
  filter: saturate(120%);
  width: 358px;
  margin-left: 12px;
}

.save-button:disabled {
  background: rgb(58, 170, 58);
  box-shadow: none;
  border: none;
  color: white;
  filter: saturate(120%);
}

.save-button:hover {
  background: rgb(26, 136, 26);
}

.save-button:focus {
  background: rgb(26, 136, 26);
  box-shadow: none;
}

.save-button:active {
  background: rgb(26, 136, 26);
  border: 1px solid white;
  box-shadow: none;
}
.invalid {
  color: red;
  margin-left: 12px;
  font-size: 13px;
  margin-top: 11px;
}
label {
  padding-top: 10px;
  color: grey;
  margin-left: 12px;
  background-color: white;
}
.container {
  width: 37%;
  padding: 10px;
  margin-top: 100px;
  background-color: white;
  border-radius: 15px;
}
p {
  margin-top: 18px;
  font-size: 14px;
  color: rgb(131, 130, 130);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
  color: green;
  filter: saturate(120%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.content {
  background-color: moccasin;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(15, 13, 13, 0.6);
  background-blend-mode: darken;
  background-image: url("https://c0.wallpaperflare.com/preview/906/427/616/meal-healthy-eating-health-minimal.jpg");
}
.inner-content {
  padding-top: 81px;
  padding-bottom: 59px;
  padding-left: 160px;
  padding-right: 160px;
}
input {
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h6 {
  color: darkgray;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
}
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
}
input:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px white inset;
}
.quote {
  position: absolute;
  font-size: 16px;
  font-style: italic;
  font-family: auto;
  color: floralwhite;
}
#line1 {
  padding-top: 38px;
  padding-left: 25px;
}
#line2 {
  padding-top: 75px;
  padding-left: 45px;
}
#line3 {
  padding-top: 110px;
  padding-left: 20px;
}
