<div class="row" style="margin-top: 20px;width: 100%;">
  <div class="col-6 m-auto">
    <div class="card-header">Register</div>
    <div class="card-body">
      <form [formGroup]="userProfile" (ngSubmit)="onRegister()">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            formControlName="username"
            (input)="validateUsername()"
          />
        </div>

        <div
          *ngIf="usernameNotEligible"
          class="alert alert-danger"
          role="alert"
        >
          The username {{ userProfile.value.username }} is not available!!
        </div>

        <div
          *ngIf="
            getControl.username.invalid &&
            (getControl.username.touched || getControl.username.dirty)
          "
        >
          <div
            *ngIf="getControl.username.errors?.required"
            class="alert alert-danger"
            role="alert"
          >
            Username is required!
          </div>
          <div
            *ngIf="getControl.username.errors?.minlength"
            class="alert alert-danger"
            role="alert"
          >
            Username must be atleast 8 characters long!
          </div>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            (input)="validateEmail()"
          />
        </div>

        <div *ngIf="emailNotEligible" class="alert alert-danger" role="alert">
          email already exists!!
        </div>

        <div
          *ngIf="
            getControl.email.invalid &&
            (getControl.email.touched || getControl.email.dirty)
          "
        >
          <div
            *ngIf="getControl.email.errors?.required"
            class="alert alert-danger"
            role="alert"
          >
            email is required!
          </div>
          <div
            *ngIf="getControl.email.errors?.email"
            class="alert alert-danger"
            role="alert"
          >
            Please provide a valid email ID
          </div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
          />
        </div>

        <div
          *ngIf="
            getControl.password.invalid &&
            (getControl.password.touched || getControl.password.dirty)
          "
        >
          <div
            *ngIf="getControl.password.errors?.required"
            class="alert alert-danger"
            role="alert"
          >
            password is required!
          </div>
          <div
            *ngIf="getControl.password.errors?.minlength"
            class="alert alert-danger"
            role="alert"
          >
            password must be atleast 8 characters long!
          </div>
        </div>

        <div class="mb-3">
          <label for="confirmPassword" class="form-label"
            >Confirm Password</label
          >
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            formControlName="confirmPassword"
          />
        </div>

        <div
          *ngIf="
            getControl.confirmPassword.invalid &&
            (getControl.confirmPassword.touched ||
              getControl.confirmPassword.dirty)
          "
        >
          <div
            *ngIf="getControl.confirmPassword.errors?.required"
            class="alert alert-danger"
            role="alert"
          >
            ConfirmPassword is required!
          </div>
          <div
            *ngIf="getControl.confirmPassword.errors?.passwordMisMatch"
            class="alert alert-danger"
            role="alert"
          >
            Password doesn't match!
          </div>
        </div>

        <button
          type="submit"
          class="btn btn-primary bStyle"
          [disabled]="(!userProfile.valid)||usernameNotEligible||emailNotEligible"
        >
          Register
        </button>
        <a class="btn btn-secondary bStyle" routerLink="/auth/login">Go back to login</a>

        <div
          *ngIf="displaySuccessRegistration"
          class="alert alert-success"
          role="alert"
        >
          Successfully registered
        </div>
      </form>
    </div>
  </div>
</div>