.form-control:focus {
  box-shadow: none;
  border-color: green;
}
.form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0%;
  height: 40px;
  width: max-content;
}
label {
  padding-top: 6px;
  color: grey;
}
.check-input {
  margin-right: 10px;
  margin-left: 10px;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}
input:read-only {
  background-color: white;
}
.card-header {
  background-color: green;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
}
.form-select {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0%;
  width: 207px;
}
.form-select:focus {
  box-shadow: none;
  border-color: green;
}
.save-button {
  margin-left: 282px;
  background: green;
  box-shadow: none;
  border: none;
  color: white;
}

.save-button:disabled {
  margin-left: 282px;
  background: rgb(54, 153, 54);
  box-shadow: none;
  border: none;
  color: white;
}

.save-button:hover {
  background: rgb(37, 138, 37);
}

.save-button:focus {
  background: green;
  box-shadow: none;
}

.save-button:active {
  background: green;
  border: 1px solid white;
  box-shadow: none;
}
.close-button-icon {
  border: 1px solid green;
  background-color: white;
  border-radius: 5px;
  padding-top: 0%;
  float: right;
}
.close-button-icon:hover {
  background-color: green;
  border: 1px solid white;
}
.close-button-icon:hover .close-icon {
  color: white;
}
.close-icon {
  color: green;
}
.close-icon:hover {
  color: white;
}
.invalid {
  color: red;
  font-size: 14px;
}
.form-control.ng-invalid {
  border-color: red;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.shrink {
  width: 170px;
}
.shrink:focus {
  border-bottom: 1px solid green;
}
.unit {
  width: 37px;
  padding: 6px;
  border-bottom: 1px solid lightgray;
}
