.stretched-link {
  text-decoration: none;
  font-size: 11px;
}
.card-input-element {
  display: none;
}
.card:hover {
  cursor: pointer;
}
.card {
  margin: 3px;
}
.card-input-element:checked + .card {
  box-shadow: 0 0 1px 1px #682773;
}
