<label>
  <input type="radio" name="activity" class="card-input-element" />
  <div class="card" style="width: 18rem" (click)="onSelect(state.NO_ACTIVITY)">
    <div class="card-body">
      <h5 class="card-title">Little or No Activity</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        (eg. Desktop job, Bank Teller)
      </h6>
    </div>
  </div></label
>
<label>
  <input type="radio" name="activity" class="card-input-element" />
  <div class="card" style="width: 18rem" (click)="onSelect(state.LIGHTLY_ACTIVE)">
    <div class="card-body">
      <h5 class="card-title">Lightly active</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        (eg. Teacher, Sales Associate)
      </h6>
    </div>
  </div></label
>
<label>
  <input type="radio" name="activity" class="card-input-element" />
  <div
    class="card"
    style="width: 18rem"
    (click)="onSelect(state.MODERATELY_ACTIVE)"
  >
    <div class="card-body">
      <h5 class="card-title">Moderately active</h5>
      <h6 class="card-subtitle mb-2 text-muted">(eg. Weighter, Tour Guide)</h6>
    </div>
  </div></label
>
<label>
  <input type="radio" name="activity" class="card-input-element" />
  <div
    class="card"
    style="width: 18rem"
    (click)="onSelect(state.VERY_ACTIVE)"
  >
    <div class="card-body">
      <h5 class="card-title">Very Active</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        (eg. Construction Worker, Gym instructor)
      </h6>
    </div>
  </div></label
>
