<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">NutriPlan</a>
    <div class="navbarRight">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/dashboard"
            >Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/diet/calorie-counter"
            >Planner</a
          >
        </li>

        <li *ngIf="adminloggedIn()" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/food"
            >Food</a
          >
        </li>
        <li *ngIf="adminloggedIn()" class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/admin/user-list"
            >User</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/user/profile"
            >Profile</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
